extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="eiffel tower", class="img-fluid")

            .col.md-7
                h1=pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit.sodales nec mollis risus ante eu augue. Integer tempor mauris et ultrices hendrerit. Sed condimentum, tellus eu congue ultrices, libero felis cursus quam, vel aliquet enim risus laoreet ligula. Nullam facilisis semper sapien, ornare vulputate dolor pretium eget. Donec bibendum dui quam, ut convallis turpis interdum a. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus vitae libero ac lacus rhoncus blandit. Vestibulum ut quam a odio tristique pulvinar. Vestibulum hendrerit porttitor magna.

                p Fusce at ante non orci vehicula imperdiet.agna eget, aliquet fringilla quam. Vivamus vitae ex ac turpis tincidunt vehicula. Vivamus feugiat sem id nisl suscipit, eu porta mauris imperdiet. Cras aliquam interdum nisl nec vulputate. Curabitur commodo nibh id tincidunt porttitor. Morbi varius consectetur dolor non dictum. Nullam pulvinar eu nisi et volutpat.

                p Vestibulum suscipit nec odio eget pharetra. Maecenas ultrices venenatis odio, quis imperdiet purus eleifend id. . Integer tortor mauris, luctus commodo ex nec, cursus ultrices sem. Proin suscipit nisi ipsum, quis tempus sapien tempus euismod. Fusce condimentum felis elit, vitae gravida sapien interdum at. Sed laoreet ante vitae ornare gravida.
    
    .listado-iconos    
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-2 Seguridad
                    p Fusce at ante non orci vehicula imperdiet.agna eget, aliquet fringilla quam. Vivamus vitae ex ac turpis tincidunt vehicula. Vivamus feugiat sem id nisl suscipit, eu porta mauris imperdiet
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-2 Mejores destinos
                    p Fusce at ante non orci vehicula imperdiet.agna eget, aliquet fringilla quam. Vivamus vitae ex ac turpis tincidunt vehicula. Vivamus feugiat sem id nisl suscipit, eu porta mauris imperdiet 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-2 Mejores precios
                    p Fusce at ante non orci vehicula imperdiet.agna eget, aliquet fringilla quam. Vivamus vitae ex ac turpis tincidunt vehicula. Vivamus feugiat sem id nisl suscipit, eu porta mauris imperdiet     
            
    